body {
    min-width: 75rem;
}
.g-container {
    width: 75rem;
    margin: auto;
}
.m-line {
    width: 100%;
    height: .02rem;
    background-color: #f2f2f2;
}
/* 头部 */
header {
    position: relative;
    width: 100%;
    z-index: 11;
}
header nav {
    display: flex;
    flex-flow: row nowrap;
}
.g-header-top {
    position: relative;
    display: flex;
    height: 5rem;
    /* background-color: pink; */
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.m-logo {
    width: 10.625rem;
}
.g-top-nav {
    height: 100%;
    margin-left: .5rem;
}
.g-top-nav a {
    display: flex;
    height: 100%;
    padding: 0 1.25rem;
    color: #000;
    align-items: center;
}
.g-top-nav a:hover:not(.g-top-nav >:first-child):not(.top-download-btn) {
    color: #31c27c;
}

.g-top-nav >:first-child {
    color: #fff;
    background-color: #31c27c;
}
/* 下拉菜单 */
.m-dropdown-btn {
    position: relative;
}
.m-dropdown-btn:hover .m-dropdown {
    display: flex;
}
.top-nav-mark {
    position: absolute;
    top: 1rem;
    right: 0;
    height: .875rem;
}
.m-dropdown {
    display: none;
    position: absolute;
    width: 10rem;
    top: 100%;
    padding: 1rem 0 1.5rem 0;
    background-color: #fff;
    align-items: center;
    flex-flow: column nowrap;
    box-shadow: 0 0 .3rem rgba(0, 0, 0, .3);
    z-index: 9;
}
.m-dropdown p {
    display: flex;
    padding: .5rem .1rem .5rem 1rem;
    font-size: .8rem;
    align-self: flex-start;
    align-items: center;
}
.m-dropdown .top-download-btn {
    width: 8rem;
    height: 1.5rem;
    padding: 0;
    margin-top: .5rem;
    border-radius: .75rem;
    color: #fff;
    background: linear-gradient(to right,#24ccaa,#31c27c);
    justify-content: center;
    cursor: pointer;
}
.top-download-btn:hover {
    background: #31c27c;
}
.dropdown-icon {
    float: left;
    width: .8rem;
    height: .8rem;
    background-image: url(../images/sprite_privilege@2x.png);
    background-size: 4rem auto;
}
.icon-hq {
    background-position: 0 0;
}
.icon-dts {
    background-position: 0 -1.5rem;
}
.icon-t-shirt {
    background-position: 0 -3rem;
}
/* 搜索模块 */
.m-search {
    display: flex;
    width: 14rem;
    height: 2.2rem;
    border: .1rem solid #c9c9c9;
    border-radius: .3rem;
    background-color: #fff;  
    justify-content: space-between;  
}
.u-search-input {
    width: 12rem;
    height: 100%;
    border: none;
    margin-left: .4rem;
    outline: none;
    background-color: #fff;

}
.u-search-btn {
    display: inline-block;
    width: 2.2rem;
    height: 2.2rem;
    border: none;
    outline: none;
    background-color: #fff;
}
.u-search-icon {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background-image: url(../images/icon_sprite@2x.png);
    background-size: 12.5rem auto;
    background-position: 0 -2.5rem;
    transform: translate(0,20%);
}
.u-search-btn:hover .u-search-icon {
    background-position: 0 -3.75rem;
}
/* 登录模块 */
.m-login {
    display: flex;
    width: 19rem;
    justify-content: space-evenly;
    align-items: center;
}
.m-login >:first-of-type a{
    color: #000;
}
.m-login >:first-of-type a:hover {
    color: #31c27c;
}
.login-head {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-size: 3rem 3rem;
}
.login-btn-span {
    position: relative;
}
.login-dropdown {
    display: flex;
    float: left;
    width: 6rem;
    height: 0;
    margin-top: 4rem;
    background-color: #fff;
    border-radius: .2rem;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    transform: translate(-50%);
    transition: .3s;
    overflow: hidden;
    box-sizing: border-box;
}
.login-btn-span:hover .login-dropdown{
    height: 5rem;
    border: .01rem solid #999;
}
.m-login-box {
    position: fixed;
    display: none;
    width: 20rem;
    height: 15rem;
    top: 50%;
    left: 50%;
    background-color: #fff;
    border-radius: .2rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);
    z-index: 999;
    transform: translate(-50%,-50%);
}
.login-form {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem;
    flex-flow: column nowrap;
    align-items: center;
    box-sizing: border-box;
} 
.login-form h3 {
    text-align: center;
}
.login-form input {
    border: none;
    width: 10.3rem;
    height: 100%;
    padding-left: .3rem;
    background-color: #fff;
    border-radius: .2rem;
}
.login-form >:nth-child(n) {
    width: 12rem;
    flex: 1;
    margin-bottom: 1rem;
}
.login-form [type = submit] {
    background-color: #31c27c;
    border-radius: 1rem;
}
.login-input-box {
    display: flex;
    height: 2rem;
    padding-left: .2rem;
    background-color: #fff;
    border: .01rem solid #000;
    border-radius: .2rem;
    flex-flow: row nowrap;
    align-items: center;
}
.login-input-box i {
    display: flex;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
}
.login-mask {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 99;
}
.m-select {
    position: relative;
    height: 2.5rem;
    border: .1rem solid #c9c9c9;
    border-radius: .3rem;
    font-size: .8rem;
}
.m-select:hover .select-list{
    display: flex;
}
.vip-option {
    width: 7.625rem;
    background-color: #31c27c;
}
.vip-option .m-select-tri{
    border-color: #fff transparent transparent transparent;;
}
.vip-option .m-select-title {
    color: #fff;
} 
.pay-option {
    width: 5.25rem;
    background-color: #fff;
}
.m-select-title {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
}
.m-select-tri {
    position: absolute;
    width: 0;
    height: 0;
    top: 45%;
    right: 5%;
    border: .3rem solid ;
    border-color: #000 transparent transparent transparent;
}
.m-select .select-list {
    display: none;
    position: absolute;
    top: 95%;
    left: -.1rem;
    height: 5rem;
    background-color: #fff;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
.m-select .select-list a {
    display: flex;
    flex:1 1;
    justify-content: center;
    align-items: center;
    color: #000;
    border-style: solid;
    border-color: #c9c9c9;
}
.vip-option .select-list a {
    width: 7.625rem;
}
.pay-option .select-list a {
    width: 5.25rem;
}
.m-select .select-list a:first-of-type {
    border-width: 0 .1rem .1rem .1rem ;
}
.m-select .select-list a:last-of-type {
    border-width: 0 .1rem .1rem .1rem;
    border-radius: 0 0 .3rem .3rem;
}
.pay-option:hover .m-select-title,
.pay-option:hover,
.m-select .select-list a:hover {
    color: #fff;
    background-color: #31c27c;
}
.m-select:hover .m-select-tri {
    top: 30%;
    border-color: transparent transparent #fff transparent;
}
/* 副导航栏 */
.g-top-subnav {
    height: 4rem;
    justify-content: center;
    align-items: center;
}
.g-top-subnav a {
    margin: 0 1.1rem 0 1.1rem;
}
.g-top-subnav :first-of-type {
    color: #31c27c;
}

/* 切换模块 */
.m-slide-box {
    position: relative;
    padding: 2rem 0 2rem 0;
    background: linear-gradient(to bottom,#f2f2f2,#fff);
    overflow: hidden;
}
.m-slide-box h2 {
    display: flex;
    margin: 2rem 0 2rem 0;
    color: #000;
    justify-content: center;
    align-items: center;
}
.m-tab-index {
    position: relative;
    display: flex; 
    height: 3.125rem;
    margin-bottom: 2rem;
    flex-flow: row nowrap;
    justify-content: center;
}
.m-show {
    position: relative;
    height: 21rem;
    overflow: hidden;
} 
.m-tab-index a{
    margin: 0 1.1rem 0 1.1rem;
}
.m-tab-index .j-tab-active {
    color: #31c27c;
}
.m-slide-list {
    position: absolute;
    display: flex;
    justify-content: flex-start;
}
.m-slide-item {
    width: 15rem;
    cursor: pointer;
}
.m-slide-item-pic {
    position: relative;
    overflow: hidden;
}
.m-slide-item-pic img{
    width: 100%;
    height: 100%;
    transition: .5s;
    background-color: pink;
}
.m-cover-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    transition: .5s;
}
.m-video-play {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    background-image: url(../images/cover_play@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%,-50%);
    transition: .5s;
}
.m-slide-item-pic:hover .m-cover-mask {
    opacity: .3;
}
.m-slide-item-pic:hover .m-video-play {
    width: 35%;
    height: 35%;
}
.m-des {
    position: relative;
    height: 5rem;
    padding: 1rem 0 0 0;
    color: #999999;
}

/* 点点 */
.m-slide-index {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
.m-slide-index ul{
    display: flex;
    justify-content: center;
}
.m-slide-index li{
    width: .5rem;
    height: .5rem;
    margin: .5rem;
    border-radius: 50%;
    background-color: #e1e1e1;
}
.m-slide-index .j-index-active {
    background-color: #afafaf;
}
/* 切换按钮 */
.u-switch-button {
    position: absolute;
    width: 4.874rem;
    height: 6.75rem;
    top: 50%;
    background-color: rgba(0, 0, 0, .05);
    transition: .3s;
    transform: translateY(-50%);
}
.u-switch-button i {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.25rem;
    height: 2.5rem;
    background-image: url(../images/icon_sprite@2x.png);
    background-size: 25rem auto;
    transform: translate(-50%,-50%);
}
.u-slide-pre {
    left: -4.875rem;
}
.u-slide-pre i {
    background-position: -19.8125rem -4.5rem;
}
.u-slide-cur {
    right: -4.875rem;
}
.u-slide-cur i {
    background-position: -14.6875rem -4.5rem;
}
.m-slide-box:hover .u-slide-pre {
    left: 0;
}
.m-slide-box:hover .u-slide-cur {
    right: 0;
}
.u-switch-button:hover {
    background-color: rgba(0, 0, 0, .1);
}
.m-others {
    position: absolute;
    display: flex;
    right: 0;
}
.m-more-icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-left: .3rem;
    background-image: url(../images/icon_sprite@2x.png);
    background-size: 12.5rem auto;
    background-position: -7.34875rem -2.25rem;
}
.m-others:hover .m-more-icon {
    background-position-y: -3.5rem;
}
/* 歌单推荐 */
.recommendation .m-show {
    height: 23rem;
}
.recommendation .m-des p {
    position: absolute;
    bottom: 0;
}
.recommendation .m-slide-item-pic {
    width: 14rem;
    height: 14rem;
}
.recommendation h4 {
    width: 14rem;
}
.recommendation .m-slide-item-pic:hover img{
    transform: scale(1.2);
}
/* 新歌首发 */
.new-songs-starts .m-slide-item-pic{
    width: 14rem;
    height: 14rem;
}
.new-songs-starts .m-slide-item-pic:hover img{
    transform: scale(1.2);
}
.g-container .m-tab-index .play-all {
    position: absolute;
    left: 0;
    padding: .5rem 1rem ;
    border: .02rem solid #c9c9c9;
    border-radius: .2rem;
    margin: 0;
    color: #000;
    background-color: #fff;
}
.play-all:hover {
    background-color: #ededed;
}
.play-all-icon {
    background-image: url(../images/icon_sprite@2x.png);
    background-size: 25rem auto;
}
.new-songs-starts .m-tab-index {
    position: relative;
}
.new-songs-starts .m-slide-list {
    width: 225rem;
    height: 16.5rem;
    flex-flow: row wrap;
}
.new-songs-starts .m-slide-item {
    position: relative;
    display: flex;
    width: 25rem;
    height: 5.5rem;
    /* flex-basis: 25rem; */
    margin-bottom: 1rem;
    align-items: center;
}
.new-songs-starts .m-slide-item-pic {
    width: 5.375rem;
    height: 5.375rem;
}
.new-songs-starts .m-desc {
    padding-left: 1rem;
}
.new-songs-starts time {
    position: absolute;
    right: 2rem;
    color: #999999;
}
/* 精彩推荐 */
.ex-recommendation .m-slide-item{
    width: 37.5rem;
    padding-right: 1rem;
}
/* 新碟首发 */
.new-disc-starts .m-slide-item-pic {
    width: 14rem;
    height: 14rem;
}
.new-disc-starts .m-slide-item-pic:hover img{
    transform: scale(1.2);
}
/* 排行榜 */
.ranking-list {
    background: linear-gradient(to bottom,#f2f2f2,#fff);
}
.ranking-list h2 {
    position: relative;
}
.ranking-list .m-others {
    font: initial;
}
.ranking-list .m-slide-list {
    position: initial;
}
.ranking-list section {
    display: flex;
    width: 14rem;
    height: 31rem;
    margin-right: 1rem;
    background-image: url(../images/bg_index_top.jpg);
    background-size: 75rem auto; 
    flex-flow: column nowrap;
    align-items: center;
    transition: .5s;
}
.ranking-list section h3 {
    color: #fff;
    text-align: center;
}
.ranking-list section h3 p {
    font-weight: initial;
}
.ranking-list section h3 a{
    color: #fff;
}
.m-rank-line {
    display: inline-block;
    position: relative;
    height: .2rem;
    width: 2rem;
    margin-bottom: 2rem;
    background-color: pink;
    transition: .5s;
}
.ranking-list section:hover .m-video-play{
    width: 2.2rem;
    height: 2.2rem;
}
.ranking-list section:hover .m-rank-line {
    background-color: rgba(255,255,255,0);
}
.ranking-list section:hover {
    background-position-y: -.2rem;
}
.new-ranking {
    background-position-x: -15rem;
}
.popular-ranking {
    background-position-x: -30rem;
}
.us-ranking {
    background-position-x: -45rem;
}
.korea-ranking  {
    background-position-x: -60rem;
}
/* MV */
.music-video .m-slide-item-pic {
    height: 7.875rem;
    width: 14rem;
}
.music-video .m-slide-item-pic:hover .m-video-play {
    width: 3rem;
}

.icon-video {
    display: inline-block;
    height: 0.9rem;
    width: 1.5rem;
    margin-right: .2rem;
    background-image: url(../images/icon_sprite@2x.png);
    background-size: 12.5rem auto;
    background-position: -11.1rem -1.19rem;
}
.music-video .m-des a {
    font: initial;
}
.music-video .m-des p:hover {
    color: #31c27c;
    cursor: pointer;
}
/* 页脚 */
footer {
    padding-bottom: 2rem;
    background-color: #333;
}
div,
.footer-info h3,
footer a {
    color: #999999;
}
.footer-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.footer-info-item {
    margin-top: 4rem;
}
.footer-info h3 {
    font-weight: 400;
}
.footer-list {
    display: flex;
    width: 25rem;
    flex-flow: row wrap;
    justify-content: flex-start;
    flex: 1;
}
.footer-list-item {
    margin: 0 1.6rem 1rem 0;
}
.footer-list-item a {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.footer-list-item a:hover {
    color: #31c27c;
}
.footer-info .footer-list-item:hover i{
    background-position-y: -3.06rem;
}
.footer-info i {
    width: 3rem;
    height: 3rem;
    background-image: url(../images/footer@2x.png);
    background-size: 50rem auto;
}

.icon-Mac {
    background-position-x: -5.625rem;
}
.icon-Andoid {
    background-position-x: -11.438rem;
}
.icon-iPhone {
    background-position-x: -16.875rem;
}
.icon-qmkg {
    background-position-x: -22.9375rem;
}
.icon-s-s {
    background-position-x: -28.5625rem;
}
.icon-Qplay {
    background-position-x: -34.875rem;
}
.icon-Fan {
    background-position-x: -40.375rem;
}
/* 合作link */
.footer-link .footer-list-item {
    width: 6rem;
}
.footer-link .footer-list-item a{
    align-items: flex-start;
}
/* 版权信息 */
.footer-copyright {
    display: flex;
    margin-top: 4rem;

    flex-flow: column ;
    align-items: center;
}
.footer-copyright >div {
    margin-bottom: 1rem;
}

