.g-container {
    width: 75rem;
    margin: auto;
}
.m-line {
    width: 100%;
    height: .02rem;
    background-color: #f2f2f2;
}
/* 头部 */
header {
    width: 100%;
}
header nav {
    display: flex;
    flex-flow: row nowrap;
}
.g-header-top {
    display: flex;
    height: 5rem;
    /* background-color: pink; */
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.m-logo {
    width: 10.625rem;
}
.g-top-nav {
    height: 100%;
    margin-left: .5rem;
}
.g-top-nav a {
    display: flex;
    height: 100%;
    padding: 0 1.25rem;
    color: #000;
    align-items: center;
}
.g-top-nav a:hover:not(.g-top-nav >:first-child):not(.top-download-btn) {
    color: #31c27c;
}

.g-top-nav >:first-child {
    color: #fff;
    background-color: #31c27c;
}
/* 下拉菜单 */
.m-dropdown-btn {
    position: relative;
}
.m-dropdown-btn:hover .m-dropdown {
    display: flex;
}
.top-nav-mark {
    position: absolute;
    top: 1rem;
    right: 0;
    height: .875rem;
}
.m-dropdown {
    display: none;
    position: absolute;
    width: 10rem;
    top: 100%;
    padding: 1rem 0 1.5rem 0;
    background-color: #fff;
    align-items: center;
    flex-flow: column nowrap;
    box-shadow: 0 0 .3rem rgba(0, 0, 0, .3);
}
.m-dropdown p {
    display: flex;
    padding: .5rem .1rem .5rem 1rem;
    font-size: .8rem;
    align-self: flex-start;
    align-items: center;
}
.m-dropdown .top-download-btn {
    width: 8rem;
    height: 1.5rem;
    padding: 0;
    margin-top: .5rem;
    border-radius: .75rem;
    color: #fff;
    background: linear-gradient(to right,#24ccaa,#31c27c);
    justify-content: center;
    cursor: pointer;
}
.top-download-btn:hover {
    background: #31c27c;
}
.dropdown-icon {
    float: left;
    width: .8rem;
    height: .8rem;
    background-image: url(../images/sprite_privilege@2x.png);
    background-size: 4rem auto;
}
.icon-hq {
    background-position: 0 0;
}
.icon-dts {
    background-position: 0 -1.5rem;
}
.icon-t-shirt {
    background-position: 0 -3rem;
}
/* 搜索模块 */
.m-search {
    display: flex;
    width: 14rem;
    height: 2.2rem;
    border: .1rem solid #c9c9c9;
    border-radius: .3rem;
    background-color: #fff;  
    justify-content: space-between;  
}
.u-search-input {
    width: 12rem;
    height: 100%;
    border: none;
    margin-left: .4rem;
    outline: none;
    background-color: #fff;

}
.u-search-btn {
    display: inline-block;
    width: 2.2rem;
    height: 2.2rem;
    border: none;
    outline: none;
    background-color: #fff;
}
.u-search-icon {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background-image: url(../images/icon_sprite@2x.png);
    background-size: 12.5rem auto;
    background-position: 0 -2.5rem;
    transform: translate(0,20%);
}
.u-search-btn:hover .u-search-icon {
    background-position: 0 -3.75rem;
}
/* 登录模块 */
.m-login {
    display: flex;
    width: 19rem;
    justify-content: space-evenly;
    align-items: center;
}
.m-login >:first-of-type a{
    color: #000;
}
.m-login >:first-of-type a:hover {
    color: #31c27c;
}
.m-select {
    position: relative;
    height: 2.5rem;
    border: .1rem solid #c9c9c9;
    border-radius: .3rem;
    font-size: .8rem;
}
.m-select:hover .select-list{
    display: flex;
}
.vip-option {
    width: 7.625rem;
    background-color: #31c27c;
}
.vip-option .m-select-tri{
    border-color: #fff transparent transparent transparent;;
}
.vip-option .m-select-title {
    color: #fff;
} 
.pay-option {
    width: 5.25rem;
    background-color: #fff;
}
.m-select-title {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
}
.m-select-tri {
    position: absolute;
    width: 0;
    height: 0;
    top: 45%;
    right: 5%;
    border: .3rem solid ;
    border-color: #000 transparent transparent transparent;
}
.m-select .select-list {
    display: none;
    position: absolute;
    top: 95%;
    left: -.1rem;
    height: 5rem;
    background-color: #fff;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
.m-select .select-list a {
    display: flex;
    flex:1 1;
    justify-content: center;
    align-items: center;
    color: #000;
    border-style: solid;
    border-color: #c9c9c9;
}
.vip-option .select-list a {
    width: 7.625rem;
}
.pay-option .select-list a {
    width: 5.25rem;
}
.m-select .select-list a:first-of-type {
    border-width: 0 .1rem .1rem .1rem ;
}
.m-select .select-list a:last-of-type {
    border-width: 0 .1rem .1rem .1rem;
    border-radius: 0 0 .3rem .3rem;
}
.pay-option:hover .m-select-title,
.pay-option:hover,
.m-select .select-list a:hover {
    color: #fff;
    background-color: #31c27c;
}
.m-select:hover .m-select-tri {
    top: 30%;
    border-color: transparent transparent #fff transparent;
}
/* 副导航栏 */
.g-top-subnav {
    height: 4rem;
    justify-content: center;
    align-items: center;
}
.g-top-subnav a {
    margin: 0 1.1rem 0 1.1rem;
    color: #000;
}
.g-top-subnav :first-of-type {
    color: #31c27c;
}
.g-top-subnav a:hover {
    color: #31c27c;
}
/* 切换模块 */
.m-slide-box {
    padding: 2rem 0 2rem 0;
    background: linear-gradient(to bottom,#f2f2f2,#fff);
}
.m-slide-box h2 {
    display: flex;
    margin: 2rem 0 2rem 0;
    justify-content: center;
    align-items: center;
}
.m-tab-index {
    display: flex; 
    margin-bottom: 2rem;
    flex-flow: row nowrap;
    justify-content: center;
}
.m-show {
    overflow: hidden;
} 
.m-tab-index a{
    margin: 0 1.1rem 0 1.1rem;
    color: #000;
}
.m-tab-index .j-tab-active {
    color: #31c27c;
}
.m-tab-index a:hover {
    color: #31c27c;
}
.m-slide-item {
    width: 15rem;
}
.m-slide-item-pic {
    position: relative;
    width: 14rem;
    height: 14rem;
    overflow: hidden;
}
.m-slide-item-pic img{
    width: 14rem;
    height: 14rem;
    transition: .5s;
    background-color: pink;
}
.m-cover-mask {
    position: absolute;
    width: 14rem;
    height: 14rem;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    transition: .5s;
}
.m-slide-item-pic:hover img{
    transform: scale(110%);
}
.m-video-play {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    background-image: url(../images/cover_play@2x.png);
    background-size: contain;
    transform: translate(-50%,-50%);
    transition: .5s;
}
.m-slide-item-pic:hover .m-cover-mask {
    opacity: .3;
}
.m-slide-item-pic:hover .m-video-play {
    width: 4rem;
    height: 4rem;
}
/* 点点 */
.m-slide-index ul{
    display: flex;
    justify-content: center;
}
.m-slide-index li{
    width: .5rem;
    height: .5rem;
    margin: .5rem;
    border-radius: 50%;
    background-color: #e1e1e1;
}
.m-slide-index .j-index-active {
    background-color: #afafaf;
}
.u-switch-button {
    position: absolute;
    width: 4.874rem;
    height: 6.75rem;
    background-color: #ececec;
}
.u-switch-button i {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.25rem;
    height: 2.5rem;
    background-image: url(../images/icon_sprite@2x.png);
    background-size: 25rem auto;
    transform: translate(-50%,-50%);
}
.u-slide-pre {
    left: 0;
}
.u-slide-pre i {
    background-position: -19.8125rem -4.5rem;
}
.u-slide-cur {
    right: 0;
}
.u-slide-cur i {
    background-position: -14.6875rem -4.5rem;
}